.SimpleExpansionPanel {
  .md-panel-header {
    background-color: rgb(246,246,246);
    color: rgb(126,126,126);
    .md-text {
      color: rgb(100,100,100);
      font-weight: bold;
    }
    .md-icon {
      color: rgb(137,144,189);
    }
    .md-collapser {
      color: #333;
    }
   }
  .md-panel-content {
    padding: 2em;
  }

  .count {
    font-size: .75em;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
    text-align: center;
  }

}

.SimpleExpansionPanel-light {
  .md-panel-header {
    background-color: #555;
    color: white;
    .md-text {
      color: white;
    }
    .md-icon {
      color: rgba(255,255,255,0.8);
    }
    .md-collapser {
      color: white;
    }
    .count {
      background-color: rgba(255,255,255,0.5);
      color: white;
    }
  }
}
